<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <client>

      <!--Ovo smo kopirali iz clienta, client se kaci samo na primarni server-->
      <endpoint name="Biblioteka"
      address="net.tcp://localhost:10000/Biblioteka"
      binding="netTcpBinding"
      contract="Common.IBiblioteka" />

      <endpoint name="Kurcina"
      address="net.tcp://localhost:20000/Bezbednost"
      binding="netTcpBinding"
      contract="Common.IBezbednosniMehanizmi" />


      <!--Kopiramo dva puta jer nam treba i konekcija ka sekundarnom severu-->
      <!--promenimo samo portove i imena endpointa-->
      <endpoint name="Biblioteka2"
      address="net.tcp://localhost:10001/Biblioteka"
      binding="netTcpBinding"
      contract="Common.IBiblioteka" />

      <endpoint name="Kurcina2"
      address="net.tcp://localhost:20001/Bezbednost"
      binding="netTcpBinding"
      contract="Common.IBezbednosniMehanizmi" />

    </client>
  </system.serviceModel>

</configuration>