<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>

      <endpoint name="Primarni"
      address="net.tcp://localhost:15002/Replikator"
      binding="netTcpBinding"
      contract="Common.IReplikator" />

      <endpoint name="Sekundarni"
        address="net.tcp://localhost:16002/Replikator"
        binding="netTcpBinding"
        contract="Common.IReplikator" />


    </client>
  </system.serviceModel>



</configuration>