
@{
    ViewBag.Title = "NarucivanjeHrane";
}

<h2>Sluzba za narucivanje hrane</h2>

<form action="Dodavanjeporudzbine">
    <table>
        <tr>
            <th>Vrsta hrane</th>
            <td><input type="text" name="VrstaHrane" autofocus required /></td>
        </tr>
        <tr>
            <th>Kolicina hrane</th>
            <td><input type="text" name="KolicinaHrane" required/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Poruci" /></td>
        </tr>
    </table>
</form>
