<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      
      <service name="Server.Biblioteka">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/Biblioteka" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15000/Biblioteka" binding="netTcpBinding"
       contract="Common.IBiblioteka" />
      </service>


      <service name="Server.BezbednosniMehanizmi">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15001/Bezbednost" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15001/Bezbednost" binding="netTcpBinding"
       contract="Common.IBezbednosniMehanizmi" />
      </service>


      <service name="Server.ReplikatorService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15003/Replikacija" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15003/Replikacija" binding="netTcpBinding"
       contract="Common.IReplikatorService" />
      </service>
      
      
      
    </services>
    <client>
      
      <endpoint name="ServisLica"
      address="net.tcp://localhost:16000/Biblioteka"
      binding="netTcpBinding"
      contract="Common.IBiblioteka" />

      <endpoint name="Replikacija"
     address="net.tcp://localhost:16003/Replikacija"
     binding="netTcpBinding"
     contract="Common.IReplikatorService" />
    
    </client>
    
    
    
  </system.serviceModel>



  <applicationSettings>
    <Server.Properties.Settings>
      <setting name="StanjeServera" serializeAs="String">
        <value>Primarni</value>
      </setting>
    </Server.Properties.Settings>
  </applicationSettings>
</configuration>