<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <system.serviceModel>
    <client>
      <endpoint name="Izvor" address="net.tcp://localhost:4000/IReplication" binding="netTcpBinding" contract="Common.IReplication"/>

      <endpoint name="Odrediste" address="net.tcp://localhost:4001/IReplication" binding="netTcpBinding" contract="Common.IReplication"/>
    </client>
  </system.serviceModel>

</configuration>
