
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="~/Zadatak/ProveraVrednosti">
    <table>         
    <tr><td>Vrsta robe:</td></tr>       
    <tr><td><input type="text" name="Tekst" /></td></tr>   
    <tr><td>Kolicina:</td></tr>
    <tr><td><input type="text" name="Kolicina" /></td></tr>  
   
    <tr><td><input type="submit" name="subm" value="Poruci" /></td></tr>
</table>
</form>
 <br />

<form action="~/Zadatak/Obavesti">
    <input type="submit" name="subm" value="Obavesti" />
</form>
