<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      
      
      <endpoint name="BankaService"
      address="net.tcp://localhost:15000/Banka"
      binding="netTcpBinding"
      contract="Common.IBanka" />


      <endpoint name="AuthService"
      address="net.tcp://localhost:15001/Autentifikacija"
      binding="netTcpBinding"
      contract="Common.IBezbednosniMehanizmi" />
      
      
      
    </client>
  </system.serviceModel>

</configuration>