<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <system.serviceModel>
    <client>
      
      
      <endpoint name="ProdavnicaAutomobila"
      address="net.tcp://localhost:15000/ProdavnicaAutomobila"
      binding="netTcpBinding"
      contract="Common.IProdavnicaAutomobila" />


      <endpoint name="SecurityService"
     address="net.tcp://localhost:15001/SecurityService"
     binding="netTcpBinding"
     contract="Common.ISecurityService" />
      
      
    </client>
  </system.serviceModel>
  
  
  
</configuration>