<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>
    <add key="Instances" value="2" />
    <add key="Address0" value="net.tcp://localhost:9999" />
    <add key="Address1" value="net.tcp://localhost:10000" />
    <add key="MasterCardServiceEndpointName" value="MasterCardService" />
    <add key="TransactionServiceEndpointName" value="TransactionService" />
    <add key="ServiceCertificateCN" value="BankCA" />
    <add key="CertificatePath" value="./certs/" />
  </appSettings>
</configuration>