<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="BankServiceAddress" value="net.tcp://localhost:9999"/>
    <add key="UserServiceEndpointName" value="User"/>
	<add key="AdminServiceEndpointName" value="Admin"/>
  </appSettings>
</configuration>
