<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  
  <system.serviceModel>
    <client>


      <endpoint name="Primarni"
      address="net.tcp://localhost:15000/ProdavnicaAutomobila"
      binding="netTcpBinding"
      contract="Common.IProdavnicaAutomobila" />

      <!--ovo je ako budemo radili replikator sa autentifikacijom-->
     <endpoint name="SecurityServicePrimarni"
    address="net.tcp://localhost:15001/SecurityService"
    binding="netTcpBinding"
    contract="Common.ISecurityService" />
      
      
      

      <endpoint name="Sekundarni"
      address="net.tcp://localhost:16000/ProdavnicaAutomobila"
      binding="netTcpBinding"
      contract="Common.IProdavnicaAutomobila" />

      <!--ovo je ako budemo radili replikator sa autentifikacijom-->
      <endpoint name="SecurityServiceSekundarni"
     address="net.tcp://localhost:16001/SecurityService"
     binding="netTcpBinding"
     contract="Common.ISecurityService" />
      
      s

    </client>
  </system.serviceModel>



</configuration>