<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      
      <!--PRIMARNI*****************************-->
      <endpoint name="ServisLicaP"
      address="net.tcp://localhost:15000/Biblioteka"
      binding="netTcpBinding"
      contract="Common.IBiblioteka" />

      <endpoint name="BezbednostP"
     address="net.tcp://localhost:15001/Bezbednost"
     binding="netTcpBinding"
     contract="Common.IBezbednosniMehanizmi" />
      <!--*****************************-->


      <!--SEKUNDARNIs*****************************-->
      <endpoint name="ServisLicaS"
      address="net.tcp://localhost:16000/Biblioteka"
      binding="netTcpBinding"
      contract="Common.IBiblioteka" />

      <endpoint name="BezbednostS"
     address="net.tcp://localhost:16001/Bezbednost"
     binding="netTcpBinding"
     contract="Common.IBezbednosniMehanizmi" />
      <!--*****************************-->
      
      

    </client>
  </system.serviceModel>
  
  
</configuration>