<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      <!--Ovo moze da se zove kako god voles-->
      <endpoint name="AjGaJebi123"
      address="net.tcp://localhost:15000/JeboMamu123"
      binding="netTcpBinding"
      contract="Common.IServiceZvucnika" />
    </client>
  </system.serviceModel>

</configuration>