<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="numOfContainers" value="4" />
    <add key="computePort" value="10010" />
    <add key="containersStartingPort" value="10020" />
    <add key="rootDirectoryPath" value="C:\Users\Nikola Karaklic\Desktop\ZA_FAKS!\3. GODINA\6. SEMESTAR\CLOUD\Projekat\cc\CloudProjekat\CloudCompute\ComputeFolder" />
    <add key="containersPartialDirectoryPath" value="C:\Users\Nikola Karaklic\Desktop\ZA_FAKS!\3. GODINA\6. SEMESTAR\CLOUD\Projekat\cc\CloudProjekat\ConsoleApp\Folder" />
    <add key="containerExe" value="C:\Users\Nikola Karaklic\Desktop\ZA_FAKS!\3. GODINA\6. SEMESTAR\CLOUD\Projekat\cc\CloudProjekat\ConsoleApp\bin\Debug\ConsoleApp.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="packetsHistoryPath" value="C:\Users\Nikola Karaklic\Desktop\ZA_FAKS!\3. GODINA\6. SEMESTAR\CLOUD\Projekat\cc\CloudProjekat\CloudCompute\ComputeFolder\History"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>