<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="LogName" value="AuditServiceLog"/>
    <add key="AuditServiceAddress" value="net.tcp://localhost:9998"/>
    <add key="AuditServiceEndpointName" value="AuditService"/>
  </appSettings>
</configuration>
