<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="Instances" value="2" />
    <add key="Address0" value="net.tcp://server:9999" />
    <add key="Address1" value="net.tcp://sz:10000" />
    <add key="MasterCardServiceEndpointName" value="MasterCardService" />
    <add key="TransactionServiceEndpointName" value="TransactionService" />
    <add key="ReplicationEndpointName" value="Replicator" />
    <add key="BankAuditServiceAddress" value="net.tcp://server:9998/BankAuditService" />
    <add key="ServiceCertificatePath" value=".\certs\" />
    <add key="ServiceCertificateSubjectName" value="BankCA" />
    <add key="ServiceCertificatePass" value="pass" />
    <add key="CACertificatePath" value=".\certs\BankCA.pfx" />
    <add key="CACertificatePass" value="pass" />
    <add key="BankCachePath" value=".\cache\" />
    <add key="BankServiceName" value="BankService" />
    <add key="TimeIntervalForWithdrawalAuditCheck" value="180" />
    <add key="NumberOfWithdrawalForAuditCheck" value="5" />
  </appSettings>
</configuration>