<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="whiteList" value="234,534,657,213,334,678,546,230,547,345,234,534,553,345,564,111"/>
  </appSettings>
</configuration>
