<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <client>

      <!--ne gadjamo server biblioteku nego samo replikaciju-->
      <endpoint name="Replikacija"
      address="net.tcp://localhost:30000/Replicate"
      binding="netTcpBinding"
      contract="Common.IReplicate" />

      <!--treba nam i da se ulogujemo na sistem-->
      <endpoint name="Kurcina"
      address="net.tcp://localhost:20000/Bezbednost"
      binding="netTcpBinding"
      contract="Common.IBezbednosniMehanizmi" />


      <endpoint name="Replikacija2"
      address="net.tcp://localhost:30001/Replicate"
      binding="netTcpBinding"
      contract="Common.IReplicate" />

      <!--treba nam i da se ulogujemo na sistem-->
      <endpoint name="Kurcina2"
      address="net.tcp://localhost:20001/Bezbednost"
      binding="netTcpBinding"
      contract="Common.IBezbednosniMehanizmi" />

    </client>
  </system.serviceModel>
  
  
</configuration>