
@{
    ViewBag.Title = "Greska";
}

<h2>Greska</h2>
<p>Doslo je do greske prilikom unosa identifikatora artikla</p>
@Html.ActionLink("Vrati se na pocetnu.", "Index")</br>
@Html.ActionLink("Pokusaj ponovo.", "Items")