<!-- <div class="jumbotron">
  <div class="container">
    <h1 class="headline" align="center" style="font-size: 70px">Welcome to Hoxi Taxi</h1>
    <h2 class="subheadline" align="center">Need a ride? Just tap a location for your destination!</h2>
  </div>  
</div> -->
<!--Mask-->
<div id="intro" class="view">
    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Welcome to Hoxi Taxi</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <!-- <h1 class="headline" align="center" style="font-size: 70px">Welcome to Hoxi Taxi</h1> -->
                    <h2 class="subheadline">Need a ride? Just tap a location for your destination!</h2>

                </div>

            </div>

        </div>

    </div>
</div>
<!--/.Mask-->