
@{
    ViewBag.Title = "Index";
}


<br />
<form method="post" action="~/Prvi/Validacija">
    <input type="text" name="vrstaHrane" placeholder="Vrsta hrane"/>
    <input type="text" name="kolicina" placeholder="kolicina"/>
    <input type="submit" value="Poruci" />
</form>

<form action="~/Prvi/IspisIzDrugogReda">
    <input type="submit" value="Obavjestenja" />
</form>
