
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to "D & N Energetics"</h2>
<ol class="breadcrumb">
    <li><a href="/PowerConsumption/Index">Home</a></li>
    <li><a href="/PowerConsumption/GetData">Get data</a></li>
</ol>


