<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <client>
      
      <endpoint name="ProdavnicaTelefona"
      address="net.tcp://localhost:15000/ProdavnicaTelefona"
      binding="netTcpBinding"
      contract="Common.IProdavnicaTelefona" />

      <endpoint name="Bezbednost"
        address="net.tcp://localhost:15001/Bezbednost"
        binding="netTcpBinding"
        contract="Common.IBezbednosniMehanizmi" />
    
    
    </client>
  </system.serviceModel>



</configuration>