<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="Default" value="Data Source=..\..\DatabaseManagement\Databases\bank.db;Version=3;"/>
    <add key="SectorExeFilename" value="{AppDir}\SectorService\bin\Debug\SectorService.exe"/>
    <add key="BankServiceAddress" value="net.tcp://localhost:9999"/>
	  <add key="UserServiceEndpointName" value="User"/>
	  <add key="AdminServiceEndpointName" value="Admin"/>
    <add key="BankServiceEndpointName" value="Bank"/>
    <add key="AllSectorNames" value="accountSector,loanSector,transactionSector"/>
    <add key="Sectors" value="{
	                              &quot;sectors&quot;: {
		                              &quot;accountSector&quot;: {
			                              &quot;address&quot;: &quot;net.tcp://localhost:9990&quot;,
			                              &quot;endpointName&quot;: &quot;AccountSector&quot;,
										  &quot;sectorResponseAddress&quot;: &quot;net.tcp://localhost:9001&quot;,
										  &quot;sectorResponseEndpointName&quot;: &quot;SectorResponse&quot;
									},
									  &quot;loanSector&quot;: {
										&quot;address&quot;: &quot;net.tcp://localhost:9991&quot;,
										&quot;endpointName&quot;: &quot;LoanSector&quot;,
										&quot;sectorResponseAddress&quot;: &quot;net.tcp://localhost:9002&quot;,
										&quot;sectorResponseEndpointName&quot;: &quot;SectorResponse&quot;
									},
									  &quot;transactionSector&quot;: {
										&quot;address&quot;: &quot;net.tcp://localhost:9992&quot;,
										&quot;endpointName&quot;: &quot;TransactionSector&quot;,
										&quot;sectorResponseAddress&quot;: &quot;net.tcp://localhost:9003&quot;,
										&quot;sectorResponseEndpointName&quot;: &quot;SectorResponse&quot;
									}
	                              }
                             }"/>
    <add key="SectorQueueSize" value="1"/>
    <add key="SectorQueueTimeoutInSeconds" value="20"/>
    <add key="AuditServiceAddress" value="net.tcp://localhost:9998"/>
    <add key="AuditServiceEndpointName" value="AuditService"/>
    <add key="StartupConfirmationServiceAddress" value="net.tcp://localhost:9989"/>
    <add key="StartupConfirmationServiceEndpointName" value="StartupConfirmation"/>
    <add key="BankAliveServiceAddress" value="net.tcp://localhost:9000"/>
    <add key="BankAliveServiceEndpointName" value="BankAlive"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
