<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      
      <service name="Server.ProdavnicaTelefona">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/ProdavnicaTelefona" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15000/ProdavnicaTelefona" binding="netTcpBinding"
       contract="Common.IProdavnicaTelefona" />
      </service>

      
      <service name="Server.BezbednosniMehanizmi">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15001/Bezbednost" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15001/Bezbednost" binding="netTcpBinding"
       contract="Common.IBezbednosniMehanizmi" />
      </service>


      <service name="Server.Replikator">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15002/Replikator" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15002/Replikator" binding="netTcpBinding"
       contract="Common.IReplikator" />
      </service>
      
      
      
    </services>
  </system.serviceModel>


</configuration>