<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <system.serviceModel>
    <services>
      
      
      <service name="Server.ProdavnicaAutomobila">
        <endpoint address="net.tcp://localhost:15000/ProdavnicaAutomobila"
          binding="netTcpBinding" contract="Common.IProdavnicaAutomobila" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/ProdavnicaAutomobila" />
          </baseAddresses>
        </host>
      </service>
      
      
      <service name="Server.SecurityService">
        <endpoint address="net.tcp://localhost:15001/SecurityService"
          binding="netTcpBinding" contract="Common.ISecurityService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15001/SecurityService" />
          </baseAddresses>
        </host>
      </service>


      <service name="Server.ObradaStanja">
        <endpoint address="net.tcp://localhost:15002/ObradaStanja"
          binding="netTcpBinding" contract="Common.IStanjeServisa" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15002/ObradaStanja" />
          </baseAddresses>
        </host>
      </service>






    </services>
  </system.serviceModel>
  
  
  
  
  <applicationSettings>
    <Server.Properties.Settings>
      <setting name="StanjeServera" serializeAs="String">
        <value>Nepoznato</value>
      </setting>
    </Server.Properties.Settings>
  </applicationSettings>
</configuration>