<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--ovo treba dodati-->
  <system.serviceModel>
    <services>
      
      
      <service name="Server.Biblioteka"> <!--ovde ide server.ime_Klase_koja_implementira_interfejs -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15000/Biblioteka"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15000/Biblioteka" binding="netTcpBinding" 
       contract="Common.IBiblioteka" /> 
        <!-- OBAVEZNO DODATI ADRESU  !!!!!!!!!!!!!!!-->
      </service>


      <service name="Server.Bezbednost">
        <!--ovde ide server.ime_Klase_koja_implementira_interfejs -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:15001/Bezbednost"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:15001/Bezbednost" binding="netTcpBinding"
          contract="Common.IBezbednosniMehanizmi" />
        <!-- OBAVEZNO DODATI ADRESU  !!!!!!!!!!!!!!!-->
      </service>
      
      
    </services>
  </system.serviceModel>
  <!--ovde se zavrsava-->
  
</configuration>