
@{
    ViewBag.Title = "Command";
}

<h2>Command</h2>
<h3>Add new Command</h3>
<form action="/Home/AddNewCommand">
    Enter Command:<br>
    <input type="text" name="id"><br>
    <input type="submit" value="Submit">
</form>

@Html.ActionLink("Bratska Instanca", "Brother")